<h1>StaticPages#js_page</h1>
<div>
<p>
<a href="#" class="btn btn-default fa fa-minus counter-minus" aria-hidden="true"></a>
  <span class="counter"></span>
  <a href="#" class="btn btn-default fa fa-plus counter-plus" aria-hidden="true"></a>
</p>
</div>
<a href="#" class="btn btn-default counter-reset">Reset</a>

<p>Find me in app/views/static_pages/js_page.html.erb</p>
