<h1>StaticPages#js_page</h1>
<p>
<a href="#" class="btn fa fa-plus counter-plus" aria-hidden="true"></a>
Counter
<a href="#" class="btn fa fa-minus counter-minus" aria-hidden="true"></a>
</p>
<a href="#" class="btn counter-reset">Reset</a>
<p>Find me in app/views/static_pages/js_page.html.erb</p>
