<h1>StaticPages#js_page</h1>
<p>
<button class="fa fa-plus" aria-hidden="true"></button>
Counter
<button class="fa fa-minus" aria-hidden="true"></button>
</p>
<p>Find me in app/views/static_pages/js_page.html.erb</p>
